.env
venv
deep
Week 5.ipynb
Mall_Customers.csv
costpercompany.csv
.ipynb_checkpoints

logs
images/

data.zip

Readme.txt

data
Hand-Tool-Detection-5
Hand-Tool-Detection-6

Joshua Evuetapha.pdf
Joshua_Evuetapha.pdf

env.example